<div id="<%= dom_id menu_category %>">
  <p>
    <strong>Name:</strong>
    <%= menu_category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu_category.description %>
  </p>

</div>
